<div class="wrap-chat">
  <div class="side-bar-chat" [ngClass]="idParam || roomIdParam ? 'hidden-sp' : 'w-100'">
    <div class="search">
      <img src="./assets/images/icon-search.png" alt="">
      <input #searchInput type="text" placeholder="search" 
            [(ngModel)]="inputSearch" 
            (keyup)="search()" 
            (keydown)="onKeyDown($event)" 
            (click)="openTooltipSearch()">
      <div class="search-dropdown" *ngIf="showSearch && listSearch.length > 0">
        <ul>
          <li *ngFor="let data of listSearch; let i = index" 
          (click)="confirmSearch(data)" 
          [class.active]="selectedIndex === i">
            <div class="avatar" [ngStyle]="{'background-color' : data.AvatarBgColor}">{{data.Nickname[0]}}</div>
            {{data.Nickname}}
          </li>
        </ul>
      </div>

      <!-- MENU ON SP -->
      <ul class="menu-bar" [ngClass]="flagMenu ? 'active' : ''" (click)="flagMenuLeft()">
        <li class="bar-01"></li>
        <li class="bar-02"></li>
        <li class="bar-03"></li>
      </ul>
    </div>

    <div class="list-groups panel">
      <div class="room">
        <h1>Rooms</h1>
        <button (click)="flagModalAddRoom = true">Add</button>
      </div>
      <ul class="list-chat" *ngIf="!isLoadingListRoom">
        <li *ngFor="let data of listRoomChat" (click)="startChatRoom(data)" [ngClass]="data.id === roomIdParam ? 'active' : ''">
          <div class="wrap-avartar">
            {{data.name[0]}}
          </div>

          <div class="infor">
            <h5> {{data.name}}</h5>
            <div class="last-mess">
              <p>{{data.content}}</p>
              <time *ngIf="data.created">{{data.created | timeAgo}}</time>
            </div>
          </div>
        </li>
      </ul>

      <ul *ngIf="isLoadingListRoom" class="skeleton-list-user">
        <div class="header" *ngFor="let data of [1, 2]">
          <div class="img"></div>
          <div class="details">
            <span class="name"></span>
            <span class="about"></span>
          </div>
        </div>
      </ul>
    </div>

    <div class="list-users panel">
      <h1>Peoples</h1>
      <ul class="list-chat" *ngIf="!isLoadingListUser">
        <li *ngFor="let data of listUserChat" (click)="startChat(data)" [ngClass]="data.ConversationId === idParam ? 'active' : ''">
          <div class="wrap-avartar" [ngStyle]="{'background-color' : data.AvatarBgColor}">
            {{ data.Nickname[0] }}
            <span class="online" *ngIf="data.IsOnline"></span>
          </div>  
          <div class="infor">
            <h5>{{data.Nickname}}</h5>
            <div class="last-mess">
              <p>{{data.Content}}</p>
              <time *ngIf="data.Created">{{data.Created | timeAgo}}</time>
            </div>
          </div>
          <span class="mark" *ngIf="data.Content">
            <img src="./assets/images/icon-seen.png" alt="" *ngIf="data.IsSeen">
            <img src="./assets/images/mess-not-seen.png" alt="" *ngIf="!data.IsSeen && data.SenderId !== currUser.Id && idParam !== data.ConversationId">
          </span>
        </li>
      </ul>

      <ul *ngIf="isLoadingListUser" class="skeleton-list-user">
        <div class="header" *ngFor="let data of [1, 2, 3]">
          <div class="img"></div>
          <div class="details">
            <span class="name"></span>
            <span class="about"></span>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="content-chat" [ngClass]="[!idParam && !roomIdParam ? 'hidden-sp' : '', bgThemeData$ | async]">
    <app-chatDetail *ngIf="idParam || roomIdParam"
     [idParam]="idParam" [currUser]="currUser" 
     [roomIdParam]="roomIdParam" 
     [flagConnect]="flagConnect"></app-chatDetail>
    <p *ngIf="!idParam && !roomIdParam" class="empty">Hãy chọn một đoạn chat hoặc bắt đầu cuộc trò chuyện mới</p>
  </div>
</div>

<!-- modal add room -->
<app-modal [modalVisible]="flagModalAddRoom" (closeModal$)="flagModalAddRoom = false">
  <div class="content-modal">
    <h1>Create room chat!</h1>

    <label for="room">Name room:</label>
    <input type="text" [(ngModel)]="nameRoom" id="room" name="room" maxlength="50">
    <p *ngIf="errAddRoom" class="err-addroom">{{errAddRoom}}</p>

    <button class="btn-submit" (click)="onSubmit($event)" type="submit">Create</button>
  </div>
</app-modal>

<!-- loading global -->