<div class="wrap-chat">
  <div class="side-bar-chat" [ngClass]="idParam ? 'hidden-sp' : 'w-100'">
    <div class="search">
      <img src="./assets/images/icon-search.png" alt="">
      <input #searchInput type="text" placeholder="search" 
            [(ngModel)]="inputSearch" 
            (keyup)="search()" 
            (keydown)="onKeyDown($event)" 
            (click)="openTooltipSearch()">
      <div class="search-dropdown" *ngIf="showSearch && listSearch.length > 0">
        <ul>
          <li *ngFor="let data of listSearch; let i = index" 
          (click)="confirmSearch(data)" 
          [class.active]="selectedIndex === i">
            <div class="avatar" [ngStyle]="{'background-color' : data.AvatarBgColor}">{{data.Nickname[0]}}</div>
            {{data.Nickname}}
          </li>
        </ul>
      </div>
    </div>

    <div class="list-groups panel">
      <h1>Groups</h1>
      <ul class="list-chat">
        <li *ngFor="let data of [1, 2, 3]">
          <div class="wrap-avartar">
            T
            <span class="online"></span>
          </div>

          <div class="infor">
            <h5>Friends Forever</h5>
            <div class="last-mess">
              <p>Hahahahah</p>
              <time>11:00</time>
            </div>
          </div>
          <span class="mark"></span>
        </li>
      </ul>
    </div>

    <div class="list-users panel">
      <h1>Peoples</h1>
      <ul class="list-chat">
        <li *ngFor="let data of listUserChat" (click)="startChat(data)" [ngClass]="data.ConversationId === idParam ? 'active' : ''">
          <div class="wrap-avartar" [ngStyle]="{'background-color' : data.AvatarBgColor}">
            {{ data.Nickname[0] }}
            <span class="online" *ngIf="data.IsOnline"></span>
          </div>  
          <div class="infor">
            <h5>{{data.Nickname}}</h5>
            <div class="last-mess">
              <p>{{data.Content}}</p>
              <time *ngIf="data.Created">{{data.Created | timeAgo}}</time>
            </div>
          </div>
          <span class="mark" *ngIf="data.Content">
            <img src="./assets/images/icon-seen.png" alt="" *ngIf="data.IsSeen">
            <img src="./assets/images/mess-not-seen.png" alt="" *ngIf="!data.IsSeen && data.ConversationId !== idParam">
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="content-chat" [ngClass]="!idParam ? 'hidden-sp' : ''">
    <app-chatDetail *ngIf="idParam"
     [idParam]="idParam" [currUser]="currUser"></app-chatDetail>
    <p *ngIf="!idParam" class="empty">Hãy chọn một đoạn chat hoặc bắt đầu cuộc trò chuyện mới</p>
  </div>
</div>
