<div class="wrap-chat">
  <div class="side-bar-chat">
    <div class="search">
      <img src="./assets/images/icon-search.png" alt="">
      <input type="text" placeholder="search" [(ngModel)]="inputSearch" (keyup)="search()" (focusout)="onInputFocusOut($event)">
      <div class="search-dropdown" *ngIf="showSearch && listSearch.length > 0">
        <ul>
          <li *ngFor="let data of listSearch" (click)="startChat(data)">
            {{data.Nickname}}
          </li>
        </ul>
      </div>
    </div>

    <div class="list-groups panel">
      <h1>Groups</h1>
      <ul class="list-chat">
        <li *ngFor="let data of [1,2,3,4]">
          <div class="wrap-avartar">
            <img src="https://i.imgur.com/244QDmq.png" alt="">
            <span class="online"></span>
          </div>

          <div class="infor">
            <h5>Friends Forever</h5>
            <div class="last-mess">
              <p>Hahahahah</p>
              <time>11:00</time>
            </div>
          </div>
          <span class="mark"></span>
        </li>
      </ul>
    </div>

    <div class="list-users panel">
      <h1>Peoples</h1>
      <ul class="list-chat">
        <li *ngFor="let data of [1,2,3,4,5]">
          <div class="wrap-avartar">
            <img src="https://i.imgur.com/244QDmq.png" alt="">
            <span class="online"></span>
          </div>
          <div class="infor">
            <h5>Anil</h5>
            <div class="last-mess">
              <p>April fool’s day</p>
              <time>11:00</time>
            </div>
          </div>
          <span class="mark"><img src="./assets/images/icon-seen.png" alt=""></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="content-chat">
    <router-outlet *ngIf="hasId; else noUserId"></router-outlet>
    <ng-template #noUserId>
      <p class="empty">Hãy chọn một đoạn chat hoặc bắt đầu cuộc trò chuyện mới</p>
    </ng-template>
  </div>

</div>
