main {
  display: flex;
  // padding: 10px;
  background: #EFF6FC;
  .side-bar {
    // position: fixed;
    // left: 20px;
    // top: 20px;
    margin: 10px 0 10px 10px;
    min-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-menu);
    width: 70px;
    padding: 20px 0;

    .avatar {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      color: #fff;
    }
    ul {
      width: 100%;
      li {
        padding: 10px 0;
        position: relative;
        cursor: pointer;
        margin: 5px auto;
        text-align: center;
        img {
          width: 26px;
          margin: auto;
        }
        &:hover, &.active {
          background: var(--bg-menu-active);
          &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background: #F3B559;
          }
        } 
      }
    }
    .icon-logout {
      width: 25px;
      cursor: pointer;
    }
  }
  .w-container {
    flex: 1;
    height: calc(100vh -20px);
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    margin: 10px;
    position: relative;
  }
}
