<main *ngIf="currUser">
  <div class="side-bar">
    <div class="avatar">
      <img src="https://i.imgur.com/244QDmq.png" alt="">
    </div>
    <ul class="menu">
      <li><img src="../assets/images/icon-mess.png" alt="icon"></li>
      <li><img src="../assets/images/icon-bell.png" alt="icon"></li>
      <li><img src="../assets/images/icon-setting.png" alt="icon"></li>
    </ul>
    <img src="../assets/images/icon-logout.png" alt="icon" class="icon-logout">
  </div>

  <div class="w-container">
    <router-outlet></router-outlet>
  </div>
</main>

<app-form *ngIf="!currUser"></app-form>
