<div class="wrap-content" *ngIf="!checkIsEmpty(userChatWith)">
  <div class="header">
    <div class="user">
      <div class="avatar" [ngStyle]="{'background-color' : userChatWith.AvatarBgColor}">
        {{userChatWith.Nickname[0]}}
      </div>
      <div class="infor">
        <h5>{{userChatWith.Nickname}}</h5>
        <p>{{userChatWith.IsOnline ? 'Online' : 'Offline'}}</p>
      </div>
    </div>
    <div class="control">
      <img src="./assets/images/icon-phone.png" alt="">
      <img src="./assets/images/icon-videocall.png" alt="">
    </div>
  </div>
  <div class="chat-history" #messageContainer>
    <div class="mess-empty" *ngIf="listMessage.length === 0">
      <div class="avatar" [ngStyle]="{'background-color' : userChatWith.AvatarBgColor}">
        {{userChatWith.Nickname[0]}}
      </div>
      <h3>
        {{userChatWith.Nickname}}
      </h3>
      <p>Hãy bắt đầu nhắn tin với <span style="font-weight: bold;">{{userChatWith.Nickname}}</span> nào!</p>
    </div>

    <ul>
      <li *ngFor="let data of listMessage; let i = index"
        [ngClass]="!(i > 0 && this.checkShowAvatar(listMessage[i - 1], data)) ? 'mt-0' : ''">
        <div class="wrap-message" [ngClass]="currUser.Id === data.senderId ? 'my-message' : ''">
          <figure *ngIf="currUser.Id !== data.senderId"
            [ngClass]="(i === 0 || i > 0 && checkShowAvatar(listMessage[i - 1], data)) ? '' : 'hidden'"
            [ngStyle]="{'background-color' : userChatWith.AvatarBgColor}" [title]="userChatWith.Nickname">
            {{userChatWith.Nickname[0]}}
          </figure>
          <p class="message">
            {{data.content}}
          </p>
          <span class="message-data-time">{{ data.created | TimeMessFormat }}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="wrap-input-chat">
    <div class="input-chat">
      <textarea [(ngModel)]="inputChat" rows="1" (keydown.enter)="onEnterKeyPressed($event)"></textarea>
      <!-- <span class="pick-emoji"
        (click)="toggled = !toggled"
        [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="'left'"
        (emojiPickerSelect)="handleSelection($event)">
        <img src="./assets/images/icon-face.png" alt="">
      </span> -->
    </div>
    <button [disabled]="!inputChat.trim() ? true : false" (click)="sendMess()">
      Send
    </button>
  </div>
</div>

<div *ngIf="isLoading">
  <div class="container-loading">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>
</div>